<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.zywx.wbpalmstar.widgetone.uexemail"
    android:versionCode="1"
    android:versionName="1.0" >

    <application
        android:name="org.zywx.wbpalmstar.widgetone.WidgetOneApplication"
        android:label="@string/app_name" >
        <!-- uexFileMgr -->
        <activity
            android:name="org.zywx.wbpalmstar.plugin.uexfilemgr.FilexplorerActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/Style_platform_no_title_and_background" />
    </application>


</manifest>